<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="js/vue.js" type="text/javascript" charset="UTF-8"></script>
		<link rel="stylesheet" href="css/login-form.css" />
	</head>
	<body>
		<!-- v-cloak是防止被v-if隐藏的标签闪烁 -->
		<div id="app" v-cloak>
			<div id="container" class="login-box-loading">
				<div id="login" class="width-vertical login-label-icon login-view-sms tmall">
					<div class="login-content">
						<div id="login-input-item" v-if="input_show">
							<div class="login-blocks">
								<div class="login-tip">
									<div class="poptip">
										<i id="icon-computer" class="icon-computer iconfont">&#xe63b;</i>
										<div class="poptip-arrow" @click="qrcode_login"><em></em><span></span></div>
										<div class="poptip-content">扫码登录更安全</div>
									</div>
								</div>
								<div class="poptip-content">扫码登录更安全</div>
								<a ref="password_login_link" href="javascript:void(0);" @click="password_login()" target="_self" class="password-login-tab-item">密码登录</a>
								<a ref="sms_login_link" href="javascript:void(0);" @click="sms_login()" target="_self" class="sms-login-tab-item">短信登录</a>
							</div>
							<div id="login-password-item" class="login-password" v-if="pwd_show">
								<div id="login-password-error" class="login-error" style="display: none;">
									<i class="iconfont icon warning"></i>
									<div class="login-error-msg"></div>
								</div>
								<form id="login-password-form" class="login-form">
									<div class="fm-field">
										<label class="fm-label-icon">
											<i class="icon-user iconfont" title="用户名">&#xe623;</i> </i>
										</label>
										<div class="input-plain-wrap input-wrap-loginid">
											<input name="fm-login-id" type="text" class="fm-text" placeholder="会员名/邮箱/手机号" oninvalid="fm-login-id"
											 tabindex="1" autocomplete="off" >
											<!-- <div>
												 <span v-show="$validation.userid.minlength">不得少于3个字符</span>
											 </div> -->
										</div>
									</div>
									<div class="fm-field">
										<label class="fm-label-icon">
											<i class="icon-user iconfont" title="密码">&#xe625;</i>
										</label>
										<div class="input-plain-wrap input-wrap-password">
											<input name="fm-login-password" type="text" class="fm-text" placeholder="请输入登录密码" oninvalid="fm-login-id"
											 tabindex="2" autocomplete="off">
										</div>
									</div>
									<div class="fm-btn">
										<div class="input-plain-wrap input-wrap-password">
											<button type="submit" tabindex="3" class="fm-button  fm-submit password-login">登录</button>
										</div>
									</div>
								</form>
								<div class="login-links">
									<a href="https://passport.taobao.com/ac/password_find.htm?from_site=0&amp;lang=zh_CN&amp;app_name=tmall&amp;tracelog=signin_main_pass"
									 target="_blank" class="forgot-password-a-link">忘记密码</a>
									<a href="https://passport.taobao.com/ac/nick_find.htm?from_site=0&amp;lang=zh_CN&amp;app_name=tmall" target="_blank"
									 class="forgot-username-a-link">忘记用户名</a>
									<a href="https://register.tmall.com/?f=login" target="_blank" class="register-a-link">免费注册</a>
								</div>
							</div>
							<div id="login-sms-item" class="login-sms" v-if="sms_show">
								<div id="login-password-error" class="login-error" style="display: none;">
									<i class="iconfont icon warning"></i>
									<div class="login-error-msg"></div>
								</div>
								<form id="login-password-form" class="login-form">
									<div class="fm-field">
										<label class="fm-label-icon">
											<i class="icon-user iconfont" title="手机号">&#xe62b;</i>
										</label>
										<div class="input-plain-wrap input-wrap-loginid">
											<input name="fm-login-id" type="text" class="fm-text fm-number" placeholder="请输入手机号" oninvalid="fm-login-id"
											 tabindex="1" autocomplete="off">
										</div>
										<div class="native-phone-code-select-wrap"><select name="nativePhoneCodeSelector" class="native-phone-code-select">
												<option value="{&quot;areaName&quot;:&quot;中国大陆&quot;,&quot;checkKey&quot;:&quot;^(86){0,1}1\\d{10}$&quot;,&quot;countryCode&quot;:&quot;CN&quot;,&quot;phoneCode&quot;:&quot;86&quot;}">+86
													中国大陆</option>
												<option value="{&quot;areaName&quot;:&quot;中国香港&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(852){1}0{0,1}[1,5,6,9](?:\\d{7}|\\d{8}|\\d{12})$&quot;,&quot;countryCode&quot;:&quot;HK&quot;,&quot;phoneCode&quot;:&quot;852&quot;}">+852
													中国香港</option>
												<option value="{&quot;areaName&quot;:&quot;中国澳门&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(853){1}6\\d{7}$&quot;,&quot;countryCode&quot;:&quot;MO&quot;,&quot;phoneCode&quot;:&quot;853&quot;}">+853
													中国澳门</option>
												<option value="{&quot;areaName&quot;:&quot;中国台湾地区&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(886){1}0{0,1}[6,7,9](?:\\d{7}|\\d{8}|\\d{10})$&quot;,&quot;countryCode&quot;:&quot;TW&quot;,&quot;phoneCode&quot;:&quot;886&quot;}">+886
													中国台湾地区</option>
												<option value="{&quot;areaName&quot;:&quot;韩国&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(82){1}0{0,1}[7,1](?:\\d{8}|\\d{9})$&quot;,&quot;countryCode&quot;:&quot;KR&quot;,&quot;phoneCode&quot;:&quot;82&quot;}">+82
													韩国</option>
												<option value="{&quot;areaName&quot;:&quot;日本&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(81){1}0{0,1}[7,8,9](?:\\d{8}|\\d{9})$&quot;,&quot;countryCode&quot;:&quot;JP&quot;,&quot;phoneCode&quot;:&quot;81&quot;}">+81
													日本</option>
												<option value="{&quot;areaName&quot;:&quot;美国&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(1){1}\\d{10,12}$&quot;,&quot;countryCode&quot;:&quot;US&quot;,&quot;phoneCode&quot;:&quot;1&quot;}">+1
													美国</option>
												<option value="{&quot;areaName&quot;:&quot;加拿大&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(1){1}\\d{10}$&quot;,&quot;countryCode&quot;:&quot;CA&quot;,&quot;phoneCode&quot;:&quot;1&quot;}">+1
													加拿大</option>
												<option value="{&quot;areaName&quot;:&quot;英国&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(44){1}[347-9](\\d{8,9}|\\d{11,12})$&quot;,&quot;countryCode&quot;:&quot;GB&quot;,&quot;phoneCode&quot;:&quot;44&quot;}">+44
													英国</option>
												<option value="{&quot;areaName&quot;:&quot;澳大利亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(61){1}4\\d{8,9}$&quot;,&quot;countryCode&quot;:&quot;AU&quot;,&quot;phoneCode&quot;:&quot;61&quot;}">+61
													澳大利亚</option>
												<option value="{&quot;areaName&quot;:&quot;新加坡&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(65){1}[13689]\\d{6,7}$&quot;,&quot;countryCode&quot;:&quot;SG&quot;,&quot;phoneCode&quot;:&quot;65&quot;}">+65
													新加坡</option>
												<option value="{&quot;areaName&quot;:&quot;马来西亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(60){1}1\\d{8,9}$&quot;,&quot;countryCode&quot;:&quot;MY&quot;,&quot;phoneCode&quot;:&quot;60&quot;}">+60
													马来西亚</option>
												<option value="{&quot;areaName&quot;:&quot;泰国&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(66){1}[13456789]\\d{7,8}$&quot;,&quot;countryCode&quot;:&quot;TH&quot;,&quot;phoneCode&quot;:&quot;66&quot;}">+66
													泰国</option>
												<option value="{&quot;areaName&quot;:&quot;越南&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(84){1}[1-9]\\d{6,9}$&quot;,&quot;countryCode&quot;:&quot;VN&quot;,&quot;phoneCode&quot;:&quot;84&quot;}">+84
													越南</option>
												<option value="{&quot;areaName&quot;:&quot;菲律宾&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(63){1}[24579](\\d{7,9}|\\d{12})$&quot;,&quot;countryCode&quot;:&quot;PH&quot;,&quot;phoneCode&quot;:&quot;63&quot;}">+63
													菲律宾</option>
												<option value="{&quot;areaName&quot;:&quot;印度尼西亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(62){1}[2-9]\\d{7,11}$&quot;,&quot;countryCode&quot;:&quot;ID&quot;,&quot;phoneCode&quot;:&quot;62&quot;}">+62
													印度尼西亚</option>
												<option value="{&quot;areaName&quot;:&quot;德国&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(49){1}1(\\d{5,6}|\\d{9,12})$&quot;,&quot;countryCode&quot;:&quot;DE&quot;,&quot;phoneCode&quot;:&quot;49&quot;}">+49
													德国</option>
												<option value="{&quot;areaName&quot;:&quot;意大利&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(39){1}[37]\\d{8,11}$&quot;,&quot;countryCode&quot;:&quot;IT&quot;,&quot;phoneCode&quot;:&quot;39&quot;}">+39
													意大利</option>
												<option value="{&quot;areaName&quot;:&quot;法国&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(33){1}(\\d{6}|\\d{8,9})$&quot;,&quot;countryCode&quot;:&quot;FR&quot;,&quot;phoneCode&quot;:&quot;33&quot;}">+33
													法国</option>
												<option value="{&quot;areaName&quot;:&quot;俄罗斯&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(7){1}[13489]\\d{9,11}$&quot;,&quot;countryCode&quot;:&quot;RU&quot;,&quot;phoneCode&quot;:&quot;7&quot;}">+7
													俄罗斯</option>
												<option value="{&quot;areaName&quot;:&quot;新西兰&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(64){1}[278]\\d{7,9}$&quot;,&quot;countryCode&quot;:&quot;NZ&quot;,&quot;phoneCode&quot;:&quot;64&quot;}">+64
													新西兰</option>
												<option value="{&quot;areaName&quot;:&quot;荷兰&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(31){1}6\\d{8}$&quot;,&quot;countryCode&quot;:&quot;NL&quot;,&quot;phoneCode&quot;:&quot;31&quot;}">+31
													荷兰</option>
												<option value="{&quot;areaName&quot;:&quot;瑞典&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(46){1}[124-7](\\d{8}|\\d{10}|\\d{12})$&quot;,&quot;countryCode&quot;:&quot;SE&quot;,&quot;phoneCode&quot;:&quot;46&quot;}">+46
													瑞典</option>
												<option value="{&quot;areaName&quot;:&quot;乌克兰&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(380){1}[3-79]\\d{8,9}$&quot;,&quot;countryCode&quot;:&quot;UA&quot;,&quot;phoneCode&quot;:&quot;380&quot;}">+380
													乌克兰</option>
												<option value="{&quot;areaName&quot;:&quot;阿联酋&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(971){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;AE&quot;,&quot;phoneCode&quot;:&quot;971&quot;}">+971
													阿联酋</option>
												<option value="{&quot;areaName&quot;:&quot;阿根廷&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(54){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;AR&quot;,&quot;phoneCode&quot;:&quot;54&quot;}">+54
													阿根廷</option>
												<option value="{&quot;areaName&quot;:&quot;奥地利&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(43){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;AT&quot;,&quot;phoneCode&quot;:&quot;43&quot;}">+43
													奥地利</option>
												<option value="{&quot;areaName&quot;:&quot;比利时&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(32){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;BE&quot;,&quot;phoneCode&quot;:&quot;32&quot;}">+32
													比利时</option>
												<option value="{&quot;areaName&quot;:&quot;保加利亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(359){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;BG&quot;,&quot;phoneCode&quot;:&quot;359&quot;}">+359
													保加利亚</option>
												<option value="{&quot;areaName&quot;:&quot;巴西&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(55){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;BR&quot;,&quot;phoneCode&quot;:&quot;55&quot;}">+55
													巴西</option>
												<option value="{&quot;areaName&quot;:&quot;巴哈马&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(1242){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;BS&quot;,&quot;phoneCode&quot;:&quot;1242&quot;}">+1242
													巴哈马</option>
												<option value="{&quot;areaName&quot;:&quot;白俄罗斯&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(375){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;BY&quot;,&quot;phoneCode&quot;:&quot;375&quot;}">+375
													白俄罗斯</option>
												<option value="{&quot;areaName&quot;:&quot;伯利兹&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(501){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;BZ&quot;,&quot;phoneCode&quot;:&quot;501&quot;}">+501
													伯利兹</option>
												<option value="{&quot;areaName&quot;:&quot;瑞士&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(41){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;CH&quot;,&quot;phoneCode&quot;:&quot;41&quot;}">+41
													瑞士</option>
												<option value="{&quot;areaName&quot;:&quot;智利&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(56){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;CL&quot;,&quot;phoneCode&quot;:&quot;56&quot;}">+56
													智利</option>
												<option value="{&quot;areaName&quot;:&quot;哥伦比亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(57){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;CO&quot;,&quot;phoneCode&quot;:&quot;57&quot;}">+57
													哥伦比亚</option>
												<option value="{&quot;areaName&quot;:&quot;丹麦&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(45){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;DK&quot;,&quot;phoneCode&quot;:&quot;45&quot;}">+45
													丹麦</option>
												<option value="{&quot;areaName&quot;:&quot;爱沙尼亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(372){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;EE&quot;,&quot;phoneCode&quot;:&quot;372&quot;}">+372
													爱沙尼亚</option>
												<option value="{&quot;areaName&quot;:&quot;埃及&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(20){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;EG&quot;,&quot;phoneCode&quot;:&quot;20&quot;}">+20
													埃及</option>
												<option value="{&quot;areaName&quot;:&quot;西班牙&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(34){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;ES&quot;,&quot;phoneCode&quot;:&quot;34&quot;}">+34
													西班牙</option>
												<option value="{&quot;areaName&quot;:&quot;芬兰&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(358){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;FI&quot;,&quot;phoneCode&quot;:&quot;358&quot;}">+358
													芬兰</option>
												<option value="{&quot;areaName&quot;:&quot;希腊&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(30){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;GR&quot;,&quot;phoneCode&quot;:&quot;30&quot;}">+30
													希腊</option>
												<option value="{&quot;areaName&quot;:&quot;匈牙利&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(36){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;HU&quot;,&quot;phoneCode&quot;:&quot;36&quot;}">+36
													匈牙利</option>
												<option value="{&quot;areaName&quot;:&quot;爱尔兰&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(353){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;IE&quot;,&quot;phoneCode&quot;:&quot;353&quot;}">+353
													爱尔兰</option>
												<option value="{&quot;areaName&quot;:&quot;以色列&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(972){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;IL&quot;,&quot;phoneCode&quot;:&quot;972&quot;}">+972
													以色列</option>
												<option value="{&quot;areaName&quot;:&quot;印度&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(91){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;IN&quot;,&quot;phoneCode&quot;:&quot;91&quot;}">+91
													印度</option>
												<option value="{&quot;areaName&quot;:&quot;约旦&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(962){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;JO&quot;,&quot;phoneCode&quot;:&quot;962&quot;}">+962
													约旦</option>
												<option value="{&quot;areaName&quot;:&quot;吉尔吉斯斯坦&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(996){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;KG&quot;,&quot;phoneCode&quot;:&quot;996&quot;}">+996
													吉尔吉斯斯坦</option>
												<option value="{&quot;areaName&quot;:&quot;柬埔寨&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(855){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;KH&quot;,&quot;phoneCode&quot;:&quot;855&quot;}">+855
													柬埔寨</option>
												<option value="{&quot;areaName&quot;:&quot;斯里兰卡&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(94){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;LK&quot;,&quot;phoneCode&quot;:&quot;94&quot;}">+94
													斯里兰卡</option>
												<option value="{&quot;areaName&quot;:&quot;立陶宛&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(370){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;LT&quot;,&quot;phoneCode&quot;:&quot;370&quot;}">+370
													立陶宛</option>
												<option value="{&quot;areaName&quot;:&quot;卢森堡&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(352){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;LU&quot;,&quot;phoneCode&quot;:&quot;352&quot;}">+352
													卢森堡</option>
												<option value="{&quot;areaName&quot;:&quot;摩洛哥&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(212){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;MA&quot;,&quot;phoneCode&quot;:&quot;212&quot;}">+212
													摩洛哥</option>
												<option value="{&quot;areaName&quot;:&quot;蒙古&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(976){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;MN&quot;,&quot;phoneCode&quot;:&quot;976&quot;}">+976
													蒙古</option>
												<option value="{&quot;areaName&quot;:&quot;马尔代夫&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(960){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;MV&quot;,&quot;phoneCode&quot;:&quot;960&quot;}">+960
													马尔代夫</option>
												<option value="{&quot;areaName&quot;:&quot;墨西哥&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(52){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;MX&quot;,&quot;phoneCode&quot;:&quot;52&quot;}">+52
													墨西哥</option>
												<option value="{&quot;areaName&quot;:&quot;尼日利亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(234){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;NG&quot;,&quot;phoneCode&quot;:&quot;234&quot;}">+234
													尼日利亚</option>
												<option value="{&quot;areaName&quot;:&quot;挪威&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(47){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;NO&quot;,&quot;phoneCode&quot;:&quot;47&quot;}">+47
													挪威</option>
												<option value="{&quot;areaName&quot;:&quot;巴拿马&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(507){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;PA&quot;,&quot;phoneCode&quot;:&quot;507&quot;}">+507
													巴拿马</option>
												<option value="{&quot;areaName&quot;:&quot;秘鲁&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(51){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;PE&quot;,&quot;phoneCode&quot;:&quot;51&quot;}">+51
													秘鲁</option>
												<option value="{&quot;areaName&quot;:&quot;波兰&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(48){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;PL&quot;,&quot;phoneCode&quot;:&quot;48&quot;}">+48
													波兰</option>
												<option value="{&quot;areaName&quot;:&quot;葡萄牙&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(351){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;PT&quot;,&quot;phoneCode&quot;:&quot;351&quot;}">+351
													葡萄牙</option>
												<option value="{&quot;areaName&quot;:&quot;卡塔尔&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(974){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;QA&quot;,&quot;phoneCode&quot;:&quot;974&quot;}">+974
													卡塔尔</option>
												<option value="{&quot;areaName&quot;:&quot;罗马尼亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(40){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;RO&quot;,&quot;phoneCode&quot;:&quot;40&quot;}">+40
													罗马尼亚</option>
												<option value="{&quot;areaName&quot;:&quot;塞尔维亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(381){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;SRB&quot;,&quot;phoneCode&quot;:&quot;381&quot;}">+381
													塞尔维亚</option>
												<option value="{&quot;areaName&quot;:&quot;沙特阿拉伯&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(966){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;SA&quot;,&quot;phoneCode&quot;:&quot;966&quot;}">+966
													沙特阿拉伯</option>
												<option value="{&quot;areaName&quot;:&quot;塞舌尔&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(248){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;SC&quot;,&quot;phoneCode&quot;:&quot;248&quot;}">+248
													塞舌尔</option>
												<option value="{&quot;areaName&quot;:&quot;突尼斯&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(216){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;TN&quot;,&quot;phoneCode&quot;:&quot;216&quot;}">+216
													突尼斯</option>
												<option value="{&quot;areaName&quot;:&quot;土耳其&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(90){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;TR&quot;,&quot;phoneCode&quot;:&quot;90&quot;}">+90
													土耳其</option>
												<option value="{&quot;areaName&quot;:&quot;委内瑞拉&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(58){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;VE&quot;,&quot;phoneCode&quot;:&quot;58&quot;}">+58
													委内瑞拉</option>
												<option value="{&quot;areaName&quot;:&quot;英属维尔京群岛&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(1284){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;VG&quot;,&quot;phoneCode&quot;:&quot;1284&quot;}">+1284
													英属维尔京群岛</option>
												<option value="{&quot;areaName&quot;:&quot;南非&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(27){1}\\d{6,12}$&quot;,&quot;countryCode&quot;:&quot;ZA&quot;,&quot;phoneCode&quot;:&quot;27&quot;}">+27
													南非</option>
												<option value="{&quot;areaName&quot;:&quot;阿尔巴尼亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(355){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;AL&quot;,&quot;phoneCode&quot;:&quot;355&quot;}">+355
													阿尔巴尼亚</option>
												<option value="{&quot;areaName&quot;:&quot;安哥拉&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(244){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;AO&quot;,&quot;phoneCode&quot;:&quot;244&quot;}">+244
													安哥拉</option>
												<option value="{&quot;areaName&quot;:&quot;阿塞拜疆&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(994){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;AZ&quot;,&quot;phoneCode&quot;:&quot;994&quot;}">+994
													阿塞拜疆</option>
												<option value="{&quot;areaName&quot;:&quot;布基纳法索&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(226){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;BF&quot;,&quot;phoneCode&quot;:&quot;226&quot;}">+226
													布基纳法索</option>
												<option value="{&quot;areaName&quot;:&quot;巴林&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(973){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;BH&quot;,&quot;phoneCode&quot;:&quot;973&quot;}">+973
													巴林</option>
												<option value="{&quot;areaName&quot;:&quot;贝宁&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(229){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;BJ&quot;,&quot;phoneCode&quot;:&quot;229&quot;}">+229
													贝宁</option>
												<option value="{&quot;areaName&quot;:&quot;文莱&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(673){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;BN&quot;,&quot;phoneCode&quot;:&quot;673&quot;}">+673
													文莱</option>
												<option value="{&quot;areaName&quot;:&quot;玻利维亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(591){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;BO&quot;,&quot;phoneCode&quot;:&quot;591&quot;}">+591
													玻利维亚</option>
												<option value="{&quot;areaName&quot;:&quot;喀麦隆&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(237){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;CM&quot;,&quot;phoneCode&quot;:&quot;237&quot;}">+237
													喀麦隆</option>
												<option value="{&quot;areaName&quot;:&quot;哥斯达黎加&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(506){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;CR&quot;,&quot;phoneCode&quot;:&quot;506&quot;}">+506
													哥斯达黎加</option>
												<option value="{&quot;areaName&quot;:&quot;佛得角&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(238){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;CV&quot;,&quot;phoneCode&quot;:&quot;238&quot;}">+238
													佛得角</option>
												<option value="{&quot;areaName&quot;:&quot;塞浦路斯&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(357){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;CY&quot;,&quot;phoneCode&quot;:&quot;357&quot;}">+357
													塞浦路斯</option>
												<option value="{&quot;areaName&quot;:&quot;吉布提&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(253){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;DJ&quot;,&quot;phoneCode&quot;:&quot;253&quot;}">+253
													吉布提</option>
												<option value="{&quot;areaName&quot;:&quot;加蓬&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(241){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;GA&quot;,&quot;phoneCode&quot;:&quot;241&quot;}">+241
													加蓬</option>
												<option value="{&quot;areaName&quot;:&quot;格林纳达&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(1473){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;GD&quot;,&quot;phoneCode&quot;:&quot;1473&quot;}">+1473
													格林纳达</option>
												<option value="{&quot;areaName&quot;:&quot;格鲁吉亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(995){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;GE&quot;,&quot;phoneCode&quot;:&quot;995&quot;}">+995
													格鲁吉亚</option>
												<option value="{&quot;areaName&quot;:&quot;冈比亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(220){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;GM&quot;,&quot;phoneCode&quot;:&quot;220&quot;}">+220
													冈比亚</option>
												<option value="{&quot;areaName&quot;:&quot;几内亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(224){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;GN&quot;,&quot;phoneCode&quot;:&quot;224&quot;}">+224
													几内亚</option>
												<option value="{&quot;areaName&quot;:&quot;赤道几内亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(240){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;GQ&quot;,&quot;phoneCode&quot;:&quot;240&quot;}">+240
													赤道几内亚</option>
												<option value="{&quot;areaName&quot;:&quot;危地马拉&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(502){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;GT&quot;,&quot;phoneCode&quot;:&quot;502&quot;}">+502
													危地马拉</option>
												<option value="{&quot;areaName&quot;:&quot;几内亚比绍&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(245){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;GW&quot;,&quot;phoneCode&quot;:&quot;245&quot;}">+245
													几内亚比绍</option>
												<option value="{&quot;areaName&quot;:&quot;圭亚那&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(592){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;GY&quot;,&quot;phoneCode&quot;:&quot;592&quot;}">+592
													圭亚那</option>
												<option value="{&quot;areaName&quot;:&quot;洪都拉斯&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(504){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;HN&quot;,&quot;phoneCode&quot;:&quot;504&quot;}">+504
													洪都拉斯</option>
												<option value="{&quot;areaName&quot;:&quot;克罗地亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(385){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;HR&quot;,&quot;phoneCode&quot;:&quot;385&quot;}">+385
													克罗地亚</option>
												<option value="{&quot;areaName&quot;:&quot;牙买加&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(1876){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;JM&quot;,&quot;phoneCode&quot;:&quot;1876&quot;}">+1876
													牙买加</option>
												<option value="{&quot;areaName&quot;:&quot;肯尼亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(254){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;KE&quot;,&quot;phoneCode&quot;:&quot;254&quot;}">+254
													肯尼亚</option>
												<option value="{&quot;areaName&quot;:&quot;科摩罗&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(269){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;KM&quot;,&quot;phoneCode&quot;:&quot;269&quot;}">+269
													科摩罗</option>
												<option value="{&quot;areaName&quot;:&quot;科威特&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(965){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;KW&quot;,&quot;phoneCode&quot;:&quot;965&quot;}">+965
													科威特</option>
												<option value="{&quot;areaName&quot;:&quot;开曼群岛&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(1345){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;KY&quot;,&quot;phoneCode&quot;:&quot;1345&quot;}">+1345
													开曼群岛</option>
												<option value="{&quot;areaName&quot;:&quot;莱索托&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(266){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;LS&quot;,&quot;phoneCode&quot;:&quot;266&quot;}">+266
													莱索托</option>
												<option value="{&quot;areaName&quot;:&quot;拉脱维亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(371){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;LV&quot;,&quot;phoneCode&quot;:&quot;371&quot;}">+371
													拉脱维亚</option>
												<option value="{&quot;areaName&quot;:&quot;摩尔多瓦&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(373){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;MD&quot;,&quot;phoneCode&quot;:&quot;373&quot;}">+373
													摩尔多瓦</option>
												<option value="{&quot;areaName&quot;:&quot;马达加斯加&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(261){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;MG&quot;,&quot;phoneCode&quot;:&quot;261&quot;}">+261
													马达加斯加</option>
												<option value="{&quot;areaName&quot;:&quot;马里&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(223){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;ML&quot;,&quot;phoneCode&quot;:&quot;223&quot;}">+223
													马里</option>
												<option value="{&quot;areaName&quot;:&quot;毛里塔尼亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(222){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;MR&quot;,&quot;phoneCode&quot;:&quot;222&quot;}">+222
													毛里塔尼亚</option>
												<option value="{&quot;areaName&quot;:&quot;毛里求斯&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(230){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;MU&quot;,&quot;phoneCode&quot;:&quot;230&quot;}">+230
													毛里求斯</option>
												<option value="{&quot;areaName&quot;:&quot;马拉维&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(265){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;MW&quot;,&quot;phoneCode&quot;:&quot;265&quot;}">+265
													马拉维</option>
												<option value="{&quot;areaName&quot;:&quot;莫桑比克&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(258){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;MZ&quot;,&quot;phoneCode&quot;:&quot;258&quot;}">+258
													莫桑比克</option>
												<option value="{&quot;areaName&quot;:&quot;纳米比亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(264){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;NA&quot;,&quot;phoneCode&quot;:&quot;264&quot;}">+264
													纳米比亚</option>
												<option value="{&quot;areaName&quot;:&quot;尼日尔&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(227){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;NE&quot;,&quot;phoneCode&quot;:&quot;227&quot;}">+227
													尼日尔</option>
												<option value="{&quot;areaName&quot;:&quot;尼加拉瓜&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(505){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;NI&quot;,&quot;phoneCode&quot;:&quot;505&quot;}">+505
													尼加拉瓜</option>
												<option value="{&quot;areaName&quot;:&quot;阿曼&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(968){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;OM&quot;,&quot;phoneCode&quot;:&quot;968&quot;}">+968
													阿曼</option>
												<option value="{&quot;areaName&quot;:&quot;巴布亚新几内亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(675){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;PG&quot;,&quot;phoneCode&quot;:&quot;675&quot;}">+675
													巴布亚新几内亚</option>
												<option value="{&quot;areaName&quot;:&quot;巴勒斯坦&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(970){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;PS&quot;,&quot;phoneCode&quot;:&quot;970&quot;}">+970
													巴勒斯坦</option>
												<option value="{&quot;areaName&quot;:&quot;卢旺达&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(250){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;RW&quot;,&quot;phoneCode&quot;:&quot;250&quot;}">+250
													卢旺达</option>
												<option value="{&quot;areaName&quot;:&quot;斯洛文尼亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(386){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;SI&quot;,&quot;phoneCode&quot;:&quot;386&quot;}">+386
													斯洛文尼亚</option>
												<option value="{&quot;areaName&quot;:&quot;斯洛伐克&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(421){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;SK&quot;,&quot;phoneCode&quot;:&quot;421&quot;}">+421
													斯洛伐克</option>
												<option value="{&quot;areaName&quot;:&quot;塞拉利昂&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(232){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;SL&quot;,&quot;phoneCode&quot;:&quot;232&quot;}">+232
													塞拉利昂</option>
												<option value="{&quot;areaName&quot;:&quot;塞内加尔&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(221){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;SN&quot;,&quot;phoneCode&quot;:&quot;221&quot;}">+221
													塞内加尔</option>
												<option value="{&quot;areaName&quot;:&quot;苏里南&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(597){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;SR&quot;,&quot;phoneCode&quot;:&quot;597&quot;}">+597
													苏里南</option>
												<option value="{&quot;areaName&quot;:&quot;萨尔瓦多&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(503){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;SV&quot;,&quot;phoneCode&quot;:&quot;503&quot;}">+503
													萨尔瓦多</option>
												<option value="{&quot;areaName&quot;:&quot;斯威士兰&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(268){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;SZ&quot;,&quot;phoneCode&quot;:&quot;268&quot;}">+268
													斯威士兰</option>
												<option value="{&quot;areaName&quot;:&quot;乍得&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(235){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;TD&quot;,&quot;phoneCode&quot;:&quot;235&quot;}">+235
													乍得</option>
												<option value="{&quot;areaName&quot;:&quot;多哥&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(228){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;TG&quot;,&quot;phoneCode&quot;:&quot;228&quot;}">+228
													多哥</option>
												<option value="{&quot;areaName&quot;:&quot;塔吉克斯坦&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(992){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;TJ&quot;,&quot;phoneCode&quot;:&quot;992&quot;}">+992
													塔吉克斯坦</option>
												<option value="{&quot;areaName&quot;:&quot;土库曼斯坦&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(993){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;TM&quot;,&quot;phoneCode&quot;:&quot;993&quot;}">+993
													土库曼斯坦</option>
												<option value="{&quot;areaName&quot;:&quot;特立尼达和多巴哥&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(1868){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;TT&quot;,&quot;phoneCode&quot;:&quot;1868&quot;}">+1868
													特立尼达和多巴哥</option>
												<option value="{&quot;areaName&quot;:&quot;坦桑尼亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(255){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;TZ&quot;,&quot;phoneCode&quot;:&quot;255&quot;}">+255
													坦桑尼亚</option>
												<option value="{&quot;areaName&quot;:&quot;乌干达&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(256){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;UG&quot;,&quot;phoneCode&quot;:&quot;256&quot;}">+256
													乌干达</option>
												<option value="{&quot;areaName&quot;:&quot;乌拉圭&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(598){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;UY&quot;,&quot;phoneCode&quot;:&quot;598&quot;}">+598
													乌拉圭</option>
												<option value="{&quot;areaName&quot;:&quot;乌兹别克斯坦&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(998){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;UZ&quot;,&quot;phoneCode&quot;:&quot;998&quot;}">+998
													乌兹别克斯坦</option>
												<option value="{&quot;areaName&quot;:&quot;也门&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(967){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;YE&quot;,&quot;phoneCode&quot;:&quot;967&quot;}">+967
													也门</option>
												<option value="{&quot;areaName&quot;:&quot;赞比亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(260){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;ZM&quot;,&quot;phoneCode&quot;:&quot;260&quot;}">+260
													赞比亚</option>
												<option value="{&quot;areaName&quot;:&quot;津巴布韦&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(263){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;ZW&quot;,&quot;phoneCode&quot;:&quot;263&quot;}">+263
													津巴布韦</option>
												<option value="{&quot;areaName&quot;:&quot;安道尔共和国&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(376){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;AD&quot;,&quot;phoneCode&quot;:&quot;376&quot;}">+376
													安道尔共和国</option>
												<option value="{&quot;areaName&quot;:&quot;阿富汗&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(93){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;AF&quot;,&quot;phoneCode&quot;:&quot;93&quot;}">+93
													阿富汗</option>
												<option value="{&quot;areaName&quot;:&quot;亚美尼亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(374){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;AM&quot;,&quot;phoneCode&quot;:&quot;374&quot;}">+374
													亚美尼亚</option>
												<option value="{&quot;areaName&quot;:&quot;波斯尼亚和黑塞哥维那&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(387){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;BA&quot;,&quot;phoneCode&quot;:&quot;387&quot;}">+387
													波斯尼亚和黑塞哥维那</option>
												<option value="{&quot;areaName&quot;:&quot;孟加拉国&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(880){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;BD&quot;,&quot;phoneCode&quot;:&quot;880&quot;}">+880
													孟加拉国</option>
												<option value="{&quot;areaName&quot;:&quot;布隆迪&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(257){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;BI&quot;,&quot;phoneCode&quot;:&quot;257&quot;}">+257
													布隆迪</option>
												<option value="{&quot;areaName&quot;:&quot;博茨瓦纳&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(267){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;BW&quot;,&quot;phoneCode&quot;:&quot;267&quot;}">+267
													博茨瓦纳</option>
												<option value="{&quot;areaName&quot;:&quot;刚果(金)&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(243){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;CD&quot;,&quot;phoneCode&quot;:&quot;243&quot;}">+243
													刚果(金)</option>
												<option value="{&quot;areaName&quot;:&quot;中非&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(236){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;CF&quot;,&quot;phoneCode&quot;:&quot;236&quot;}">+236
													中非</option>
												<option value="{&quot;areaName&quot;:&quot;刚果(布)&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(242){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;CG&quot;,&quot;phoneCode&quot;:&quot;242&quot;}">+242
													刚果(布)</option>
												<option value="{&quot;areaName&quot;:&quot;科特迪瓦&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(225){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;CI&quot;,&quot;phoneCode&quot;:&quot;225&quot;}">+225
													科特迪瓦</option>
												<option value="{&quot;areaName&quot;:&quot;库拉索岛&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(599){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;CW&quot;,&quot;phoneCode&quot;:&quot;599&quot;}">+599
													库拉索岛</option>
												<option value="{&quot;areaName&quot;:&quot;捷克共和国&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(420){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;CZ&quot;,&quot;phoneCode&quot;:&quot;420&quot;}">+420
													捷克共和国</option>
												<option value="{&quot;areaName&quot;:&quot;多米尼加共和国&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(1809){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;DO&quot;,&quot;phoneCode&quot;:&quot;1809&quot;}">+1809
													多米尼加共和国</option>
												<option value="{&quot;areaName&quot;:&quot;阿尔及利亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(213){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;DZ&quot;,&quot;phoneCode&quot;:&quot;213&quot;}">+213
													阿尔及利亚</option>
												<option value="{&quot;areaName&quot;:&quot;厄瓜多尔&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(593){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;EC&quot;,&quot;phoneCode&quot;:&quot;593&quot;}">+593
													厄瓜多尔</option>
												<option value="{&quot;areaName&quot;:&quot;加纳&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(233){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;GHA&quot;,&quot;phoneCode&quot;:&quot;233&quot;}">+233
													加纳</option>
												<option value="{&quot;areaName&quot;:&quot;伊拉克&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(964){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;IQ&quot;,&quot;phoneCode&quot;:&quot;964&quot;}">+964
													伊拉克</option>
												<option value="{&quot;areaName&quot;:&quot;哈萨克斯坦&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(7){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;KZ&quot;,&quot;phoneCode&quot;:&quot;7&quot;}">+7
													哈萨克斯坦</option>
												<option value="{&quot;areaName&quot;:&quot;老挝&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(856){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;LA&quot;,&quot;phoneCode&quot;:&quot;856&quot;}">+856
													老挝</option>
												<option value="{&quot;areaName&quot;:&quot;黎巴嫩&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(961){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;LB&quot;,&quot;phoneCode&quot;:&quot;961&quot;}">+961
													黎巴嫩</option>
												<option value="{&quot;areaName&quot;:&quot;利比里亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(231){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;LR&quot;,&quot;phoneCode&quot;:&quot;231&quot;}">+231
													利比里亚</option>
												<option value="{&quot;areaName&quot;:&quot;利比亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(218){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;LY&quot;,&quot;phoneCode&quot;:&quot;218&quot;}">+218
													利比亚</option>
												<option value="{&quot;areaName&quot;:&quot;黑山共和国&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(382){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;ME&quot;,&quot;phoneCode&quot;:&quot;382&quot;}">+382
													黑山共和国</option>
												<option value="{&quot;areaName&quot;:&quot;圣马丁&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(590){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;MF&quot;,&quot;phoneCode&quot;:&quot;590&quot;}">+590
													圣马丁</option>
												<option value="{&quot;areaName&quot;:&quot;马其顿&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(389){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;MK&quot;,&quot;phoneCode&quot;:&quot;389&quot;}">+389
													马其顿</option>
												<option value="{&quot;areaName&quot;:&quot;缅甸&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(95){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;MM&quot;,&quot;phoneCode&quot;:&quot;95&quot;}">+95
													缅甸</option>
												<option value="{&quot;areaName&quot;:&quot;巴基斯坦&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(92){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;PK&quot;,&quot;phoneCode&quot;:&quot;92&quot;}">+92
													巴基斯坦</option>
												<option value="{&quot;areaName&quot;:&quot;波多黎各&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(1787){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;PR&quot;,&quot;phoneCode&quot;:&quot;1787&quot;}">+1787
													波多黎各</option>
												<option value="{&quot;areaName&quot;:&quot;索马里&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(252){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;SO&quot;,&quot;phoneCode&quot;:&quot;252&quot;}">+252
													索马里</option>
												<option value="{&quot;areaName&quot;:&quot;圣文森特和格林纳丁斯&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(1784){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;VC&quot;,&quot;phoneCode&quot;:&quot;1784&quot;}">+1784
													圣文森特和格林纳丁斯</option>
												<option value="{&quot;areaName&quot;:&quot;科索沃&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(383){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;XK&quot;,&quot;phoneCode&quot;:&quot;383&quot;}">+383
													科索沃</option>
												<option value="{&quot;areaName&quot;:&quot;尼泊尔&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(977){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;NP&quot;,&quot;phoneCode&quot;:&quot;977&quot;}">+977
													尼泊尔</option>
												<option value="{&quot;areaName&quot;:&quot;阿鲁巴&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(297){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;AW&quot;,&quot;phoneCode&quot;:&quot;297&quot;}">+297
													阿鲁巴</option>
												<option value="{&quot;areaName&quot;:&quot;巴巴多斯&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(1246){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;BB&quot;,&quot;phoneCode&quot;:&quot;1246&quot;}">+1246
													巴巴多斯</option>
												<option value="{&quot;areaName&quot;:&quot;不丹&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(975){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;BT&quot;,&quot;phoneCode&quot;:&quot;975&quot;}">+975
													不丹</option>
												<option value="{&quot;areaName&quot;:&quot;库克群岛&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(682){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;CK&quot;,&quot;phoneCode&quot;:&quot;682&quot;}">+682
													库克群岛</option>
												<option value="{&quot;areaName&quot;:&quot;埃塞俄比亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(251){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;ET&quot;,&quot;phoneCode&quot;:&quot;251&quot;}">+251
													埃塞俄比亚</option>
												<option value="{&quot;areaName&quot;:&quot;斐济&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(679){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;FJ&quot;,&quot;phoneCode&quot;:&quot;679&quot;}">+679
													斐济</option>
												<option value="{&quot;areaName&quot;:&quot;密克罗尼西亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(691){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;FM&quot;,&quot;phoneCode&quot;:&quot;691&quot;}">+691
													密克罗尼西亚</option>
												<option value="{&quot;areaName&quot;:&quot;法罗群岛&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(298){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;FO&quot;,&quot;phoneCode&quot;:&quot;298&quot;}">+298
													法罗群岛</option>
												<option value="{&quot;areaName&quot;:&quot;直布罗陀&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(350){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;GI&quot;,&quot;phoneCode&quot;:&quot;350&quot;}">+350
													直布罗陀</option>
												<option value="{&quot;areaName&quot;:&quot;格陵兰岛&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(299){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;GL&quot;,&quot;phoneCode&quot;:&quot;299&quot;}">+299
													格陵兰岛</option>
												<option value="{&quot;areaName&quot;:&quot;关岛&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(1671){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;GU&quot;,&quot;phoneCode&quot;:&quot;1671&quot;}">+1671
													关岛</option>
												<option value="{&quot;areaName&quot;:&quot;海地&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(509){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;HT&quot;,&quot;phoneCode&quot;:&quot;509&quot;}">+509
													海地</option>
												<option value="{&quot;areaName&quot;:&quot;冰岛&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(354){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;IS&quot;,&quot;phoneCode&quot;:&quot;354&quot;}">+354
													冰岛</option>
												<option value="{&quot;areaName&quot;:&quot;列支敦士登&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(423){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;LI&quot;,&quot;phoneCode&quot;:&quot;423&quot;}">+423
													列支敦士登</option>
												<option value="{&quot;areaName&quot;:&quot;摩纳哥&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(377){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;MC&quot;,&quot;phoneCode&quot;:&quot;377&quot;}">+377
													摩纳哥</option>
												<option value="{&quot;areaName&quot;:&quot;法属波利尼西亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(689){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;PF&quot;,&quot;phoneCode&quot;:&quot;689&quot;}">+689
													法属波利尼西亚</option>
												<option value="{&quot;areaName&quot;:&quot;帕劳&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(680){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;PW&quot;,&quot;phoneCode&quot;:&quot;680&quot;}">+680
													帕劳</option>
												<option value="{&quot;areaName&quot;:&quot;巴拉圭&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(595){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;PY&quot;,&quot;phoneCode&quot;:&quot;595&quot;}">+595
													巴拉圭</option>
												<option value="{&quot;areaName&quot;:&quot;所罗门群岛&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(677){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;SB&quot;,&quot;phoneCode&quot;:&quot;677&quot;}">+677
													所罗门群岛</option>
												<option value="{&quot;areaName&quot;:&quot;圣马力诺&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(378){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;SM&quot;,&quot;phoneCode&quot;:&quot;378&quot;}">+378
													圣马力诺</option>
												<option value="{&quot;areaName&quot;:&quot;叙利亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(963){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;SY&quot;,&quot;phoneCode&quot;:&quot;963&quot;}">+963
													叙利亚</option>
												<option value="{&quot;areaName&quot;:&quot;汤加&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(676){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;TO&quot;,&quot;phoneCode&quot;:&quot;676&quot;}">+676
													汤加</option>
												<option value="{&quot;areaName&quot;:&quot;萨摩亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(685){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;WS&quot;,&quot;phoneCode&quot;:&quot;685&quot;}">+685
													萨摩亚</option>
												<option value="{&quot;areaName&quot;:&quot;南极洲&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(6723){1}\\d{1,100}$&quot;,&quot;countryCode&quot;:&quot;AQ&quot;,&quot;phoneCode&quot;:&quot;672&quot;}">+672
													南极洲</option>
												<option value="{&quot;areaName&quot;:&quot;古巴&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(53){1}\\d{1,100}$&quot;,&quot;countryCode&quot;:&quot;CU&quot;,&quot;phoneCode&quot;:&quot;53&quot;}">+53
													古巴</option>
												<option value="{&quot;areaName&quot;:&quot;西撒哈拉&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(6723){1}\\d{1,100}$&quot;,&quot;countryCode&quot;:&quot;EH&quot;,&quot;phoneCode&quot;:&quot;213&quot;}">+213
													西撒哈拉</option>
												<option value="{&quot;areaName&quot;:&quot;厄立特里亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(6723){1}\\d{1,100}$&quot;,&quot;countryCode&quot;:&quot;ER&quot;,&quot;phoneCode&quot;:&quot;291&quot;}">+291
													厄立特里亚</option>
												<option value="{&quot;areaName&quot;:&quot;瓜德罗普&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(6723){1}\\d{1,100}$&quot;,&quot;countryCode&quot;:&quot;GP&quot;,&quot;phoneCode&quot;:&quot;590&quot;}">+590
													瓜德罗普</option>
												<option value="{&quot;areaName&quot;:&quot;泽西岛&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(6723){1}\\d{1,100}$&quot;,&quot;countryCode&quot;:&quot;JEY&quot;,&quot;phoneCode&quot;:&quot;44&quot;}">+44
													泽西岛</option>
												<option value="{&quot;areaName&quot;:&quot;圣卢西亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(1758){1}\\d{1,100}$&quot;,&quot;countryCode&quot;:&quot;LC&quot;,&quot;phoneCode&quot;:&quot;1758&quot;}">+1758
													圣卢西亚</option>
												<option value="{&quot;areaName&quot;:&quot;南乔治亚岛和南桑威奇群岛&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(6723){1}\\d{1,100}$&quot;,&quot;countryCode&quot;:&quot;SGS&quot;,&quot;phoneCode&quot;:&quot;500&quot;}">+500
													南乔治亚岛和南桑威奇群岛</option>
												<option value="{&quot;areaName&quot;:&quot;圣赫勒拿岛&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(6723){1}\\d{1,100}$&quot;,&quot;countryCode&quot;:&quot;SH&quot;,&quot;phoneCode&quot;:&quot;290&quot;}">+290
													圣赫勒拿岛</option>
												<option value="{&quot;areaName&quot;:&quot;马约特&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(2696){1}\\d{1,100}$&quot;,&quot;countryCode&quot;:&quot;YT&quot;,&quot;phoneCode&quot;:&quot;2696&quot;}">+2696
													马约特</option>
												<option value="{&quot;areaName&quot;:&quot;诺福克岛&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(6723){1}\\d{1,100}$&quot;,&quot;countryCode&quot;:&quot;NF&quot;,&quot;phoneCode&quot;:&quot;6723&quot;}">+6723
													诺福克岛</option>
												<option value="{&quot;areaName&quot;:&quot;马提尼克&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(596){1}\\d{1,100}$&quot;,&quot;countryCode&quot;:&quot;MQ&quot;,&quot;phoneCode&quot;:&quot;596&quot;}">+596
													马提尼克</option>
												<option value="{&quot;areaName&quot;:&quot;马里亚那群岛&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(1670){1}\\d{1,100}$&quot;,&quot;countryCode&quot;:&quot;MP&quot;,&quot;phoneCode&quot;:&quot;1670&quot;}">+1670
													马里亚那群岛</option>
												<option value="{&quot;areaName&quot;:&quot;伊朗&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(98){1}\\d{1,100}$&quot;,&quot;countryCode&quot;:&quot;IR&quot;,&quot;phoneCode&quot;:&quot;98&quot;}">+98
													伊朗</option>
												<option value="{&quot;areaName&quot;:&quot;百慕大群岛.&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(1441){1}\\d{1,100}$&quot;,&quot;countryCode&quot;:&quot;BM&quot;,&quot;phoneCode&quot;:&quot;1441&quot;}">+1441
													百慕大群岛.</option>
												<option value="{&quot;areaName&quot;:&quot;荷属安的列斯&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(599){1}\\d{1,100}$&quot;,&quot;countryCode&quot;:&quot;AN&quot;,&quot;phoneCode&quot;:&quot;599&quot;}">+599
													荷属安的列斯</option>
												<option value="{&quot;areaName&quot;:&quot;美属萨摩亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(684){1}\\d{1,100}$&quot;,&quot;countryCode&quot;:&quot;AS&quot;,&quot;phoneCode&quot;:&quot;684&quot;}">+684
													美属萨摩亚</option>
												<option value="{&quot;areaName&quot;:&quot;新喀里多尼亚&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(687){1}\\d{1,100}$&quot;,&quot;countryCode&quot;:&quot;NC&quot;,&quot;phoneCode&quot;:&quot;687&quot;}">+687
													新喀里多尼亚</option>
												<option value="{&quot;areaName&quot;:&quot;圣皮埃尔和密克隆岛&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(508){1}\\d{1,100}$&quot;,&quot;countryCode&quot;:&quot;PM&quot;,&quot;phoneCode&quot;:&quot;508&quot;}">+508
													圣皮埃尔和密克隆岛</option>
												<option value="{&quot;areaName&quot;:&quot;留尼旺&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(-4){1}\\d{1,100}$&quot;,&quot;countryCode&quot;:&quot;RE&quot;,&quot;phoneCode&quot;:&quot;262&quot;}">+262
													留尼旺</option>
												<option value="{&quot;areaName&quot;:&quot;苏丹&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(249){1}\\d{1,100}$&quot;,&quot;countryCode&quot;:&quot;SD&quot;,&quot;phoneCode&quot;:&quot;249&quot;}">+249
													苏丹</option>
												<option value="{&quot;areaName&quot;:&quot;瓦努阿图&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(678){1}\\d{1,100}$&quot;,&quot;countryCode&quot;:&quot;VU&quot;,&quot;phoneCode&quot;:&quot;678&quot;}">+678
													瓦努阿图</option>
												<option value="{&quot;areaName&quot;:&quot;扎伊尔&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(243){1}\\d{1,100}$&quot;,&quot;countryCode&quot;:&quot;ZR&quot;,&quot;phoneCode&quot;:&quot;243&quot;}">+243
													扎伊尔</option>
												<option value="{&quot;areaName&quot;:&quot;马耳他&quot;,&quot;checkKey&quot;:&quot;^(00){0,1}(356){1}\\d{6,15}$&quot;,&quot;countryCode&quot;:&quot;MT&quot;,&quot;phoneCode&quot;:&quot;356&quot;}">+356
													马耳他</option>
											</select></div>
									</div>
									<div class="fm-field">
										<label class="fm-label-icon">
											<i class="icon-user iconfont" title="验证码">&#xe6a0;</i>
										</label>
										<div class="input-plain-wrap input-wrap-password">
											<input name="fm-login-password" type="text" class="fm-text" placeholder="请输入验证码" oninvalid="fm-login-id"
											 tabindex="2" autocomplete="off">
										</div>
										<div class="send-btn"><a href="javascript:void(0);" class="send-btn-link">获取验证码</a></div>
									</div>
									<div class="fm-btn">
										<div class="input-plain-wrap input-wrap-password">
											<button type="submit" tabindex="3" class="fm-button  fm-submit password-login">登录</button>
										</div>
									</div>
								</form>
								<div class="login-links">
									<a href="https://register.tmall.com/?f=login" target="_blank" class="register-a-link">免费注册</a>
								</div>
							</div>
						</div>
						<div id="login-qrcode-item" v-if="qr_show">
							<div class="login-tip">
								<div class="poptip">
									<i id="icon-computer" class="icon-computer iconfont">&#xe602;</i>
									<div class="poptip-arrow" @click="qrcode_login"></div>

								</div>
							</div>
							<div class="master-login-title">手机扫码，安全登录</div>
							<div class="qrcode-login">
								<div class="qrcode-img">
									<canvas height="162" width="162" style="height: 130px; width: 130px;"></canvas>
								</div>
								<div class="qrcode-desc">
									<i class="icon-scan iconfont">&#xe64c;</i>
									<div class="qrcode-other">
										<font class="ft-gray">打开 </font><a href="https://www.taobao.com/m" target="_blank" class="light-link">手机淘宝</a>
										| <a href="https://www.tmall.com/wow/portal/act/app-download?mmstat=pc_login" target="_blank" class="light-link">手机天猫</a><br>
										<span class="ft-gray">扫一扫登录</span>
									</div>
								</div>
								<div class="qrcode-bottom-links">
									<a href="javascript:void(0);" @click="password_login" target="_self" class="password-a-link">密码登录</a>
									<a href="https://register.tmall.com/?f=login" target="_blank" class="register-a-link">免费注册</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		new Vue({
			el: '#app',
			data: function() {
				return {
					input_show: true,
					pwd_show: true,
					sms_show: false,
					qr_show: false
				}
			},
			created: function() {
				var self = this;
				console.log("create")
			},
			methods: {
				password_login() {
					console.log("AAA");
					var self = this;
					self.input_show = true;
					self.qr_show = false;
					self.pwd_show = true;
					self.sms_show = false;
					self.$refs.password_login_link.style.borderBottom = '2px solid';
					self.$refs.sms_login_link.style.borderBottom = 'none';
				},
				sms_login() {
					console.log("BBB");
					var self = this;
					self.sms_show = true;
					self.pwd_show = false;
					self.$refs.sms_login_link.style.borderBottom = '2px solid';
					self.$refs.password_login_link.style.borderBottom = 'none';
				},
				qrcode_login: function() {
					console.log("CCC");
					var self = this;
					if (!self.qr_show) {
						self.qr_show = true;
						self.input_show = false;
					} else {
						self.qr_show = false;
						self.input_show = true;
					}
				}
			}
		});
	</script>
</html>
